<h1 style="text-align: center;">Review Details:</h1>
<h1>Flight Details:</h1>

Airlines: {{data?.flight?.operatingAirlines}}<br/>
Flight Number: {{data?.flight?.flightNumber}}<br/>
From: {{data?.flight?.departureCity}}<br/>
To: {{data?.flight?.arrivalCity}}<br/>
Date Of Departure: {{data?.flight?.dateOfDeparture}}<br/>
Departure Time: {{data?.flight?.estimatedDepartureTime}}<br/>

<h1>Passenger Details:</h1>
First Name: {{data?.passenger?.firstName}}<br/>
Middle Name: {{data?.passenger?.middleName}}<br/>
Last Name: {{data?.passenger?.lastName}}<br/>
Email: {{data?.passenger?.email}}<br/>
Phone: {{data?.passenger?.phone}}<br/>
Enter the number of bags you want to check in:<input type="text" [(ngModel)]="numberOfBags"/><br/>
<button class="button" (click)="checkIn(numberOfBags)">Check-In</button>